/* 
    Document   : style
    Created on : 3-giu-2014, 15:01:52
    Author     : ced
    Description: 
*/

/*CLOCK*/

@font-face{
    font-family: digitalClock;
    src: url(fonts/TickingTimebombBB.ttf);
}

@font-face{
    font-family: fontClockText;
    src: url(fonts/Movie_Times.ttf);
}
body {
    background-image: url("img/bg4.jpg");
}
form{
    /*text-align: center;
    margin: 0 auto;*/
    margin-left: 30%;
}
input{

}
input[type="submit"]{
    border-radius: 33px; 
    -moz-border-radius: 33px; 
    -webkit-border-radius: 33px; 
    border: 2px solid #800000;
}
input:hover[type="submit"]{
    background-color: #B2B299; 
}
.boxCenter{ 
    /*background-image: url("img/bg.png");*/
    background-image: url("img/q.jpg");
    /*width: 850px;*/
    width:50%;
    height: 300px;
    /*width:60%;
    height: 70%;*/
    /*height: 500px;
    background-color: red;*/
    border-style: solid;
    border-width: 5px; 
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 80%;
}
.header{
    /*width: 850px;
    height: 100px;*/
    /*background-color: #5983FF;*/
    height: 30%;
}
.titleHeader{
    /*text-align: center;
    background-color: orange;*/
    width: 50%;
    margin: 0 auto;
    font-family: "Times New Roman";
    margin-top: 10%;
    font-size: 25px;
}
.newUser{
    text-align: right;
    margin-right: 5%;
}
.imageLogin{
    /*background-color: orange;*/
    float:left;
    height: 100%;
    margin-left: 2%;
}
.registerButtons{
    /*background-color: orange;*/
    margin-top: -10%;
}